.container {
	margin: 20px auto;
}


.tip-wrap-container {
	position:fixed;
}

.tip-input {
	height:28px;
	width:180px;
	border:1px solid #ccc;
	border-radius:3px;
}

.tip-item {
	height:20px;
	line-height:20px;
	background-color:#00BFFF;
	border-radius:5px;
	color:white;
	max-width:70px;
	float:left;
	margin: 4px 0 4px 4px;
	padding:0 5px;
	font-size:13px;				
}

.tip-item-val {
	max-width:50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	float:left;
}

.tip-item-del {
	float:left;
	margin:10px 0 0 2px;
	cursor:pointer;
	display: inline-block; width: 10px;height:2px; background: white;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);
}

.tip-item-del:after{content:'/';display:block;width: 10px;height:2px; background: white;-webkit-transform: rotate(-90deg);}

.tip-main-input {
	border:0;
	outline:none;
	height:28px;
	float:left;
	padding-left:6px;
	width:175px;
}


.tip-container {
	display:none;
	position:absolute;
	top:30px;
	left:0;
	width:180px;
	border: 1px solid #c9c9c9;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}


.tip-container .message {
	height:60px;
	line-height:60px;
	text-align:center;
}

.tip-container .choose-pannel {
	padding: 0;
	margin: 0;
	width:100%;
	line-height:30px;
	max-height:215px;
	overflow-y:auto;
}

.tip-container .choose-item {
	display: inline-block;
	width: 100%;
	text-indent:10px;
	cursor:pointer;
}

.tip-container .choose-item:hover {
	background-color: #6488c2;
	color: white;
}
